/* text styling */

h1, h3, h5 {
	font-family: $primFont;
	color: #8b3626;
}

h2, h4, h6 {
	font-family: $secFont;
}

p {
	font-family: $primFont;
	color: $offblk;
}

/* link styling */

a {
	font-family: $secFont;
	text-transform: uppercase;
	color: $redlgt;
}

a:hover {
	color: $redmed;
}

a:active {
	color: $reddrk;
}

/* button styling */

button & a {
	color: $offwht;
}