/* text styling */

h1 {
	font-family: $primFont;
	color: $offBlack;
	font-size: 2em;
}

h2 {
	font-family: $secFont;
	color: $primaryDrk;
	font-size: 1.5em;
	font-style: bold;
}

h3 {
	font-family: $primFont;
	color: $primaryDrk;
	font-size: 1em;
}

p {
	font-family: $primFont;
	color: $offBlack;
}

.post-date {
	font-family: $secFont;
	color: $offBlack;
	font-size: 1.25em;
	font-weight: lighter;
}

.post-name {
	color: $action;
}

.post-name:hover {
	color: $actionMed;
}

/* link styling */

p a {
	font-family: $secFont;
	font-style: italic;
	color: $action;
}

p a:hover {
	color: $actionMed;
}

p a:active {
	color: $actionDrk;
}

a.inline-link {
	font-family: $secFont;
	font-style: italic;
	color: $action;
}

a.inline-link:hover {
	color: $actionMed;
}

a.inline-link:active {
	color: $actionDrk;
}

/* button styling */

button & a {
	color: $offWhite;
}