/* text styling */

h1 {
	font-family: $primFont;
	color: $offBlack;
	font-size: 1.75em;
}

h2 {
	font-family: $secFont;
	color: $primaryDrk;
	font-size: 1.5em;
}

h3 {
	font-family: $primFont;
	color: $primaryDrk;
	font-size: 1em;
}

p {
	font-family: $primFont;
	color: $offBlack;
}

/* link styling */

p a {
	font-family: $secFont;
	font-style: italic;
	color: $action;
}

p a:hover {
	color: $actionMed;
}

p a:active {
	color: $actionDrk;
}

/* button styling */

button & a {
	color: $offWhite;
}