/* color pallete */
$grnlgt: #c1ffc1;
$grnmed: #8fbc8f;
$grndrk: #698b69;
$redlgt: #ff6347;
$redmed: #cd4f39;
$reddrk: #8b3626;
$offwht: #f0fff0;
$grylgt: #c1cdc1;
$grymed: #838b83;
$grydrk: #5d655d;
$offblk: #292421;

/* fonts */
$primFont: "adobe-caslon-pro", serif;
$secFont: "Gill Sans", sans-serif;