/* color pallete */
$primary: #c1ffc1;
$primaryMed: #8fbc8f;
$primaryDrk: #698b69;
$action: #ff6347;
$actionMed: #cd4f39;
$actionDrk: #8b3626;
$offWhite: #f0fff0;
$grayLgt: #c1cdc1;
$grayMed: #838b83;
$grayDrk: #5d655d;
$offBlack: #292421;

/* fonts */
$primFont: "adobe-caslon-pro", serif;
$secFont: "Gill Sans", sans-serif;